#   your_local_ip_address for Expo Go, for web localhost is enough
OPENAPI_URL=http://<your_local_ip_address>:<port>/v3/api-docs
EXPO_PUBLIC_API_URL=http://<your_local_ip_address>:<port>

EXPO_PUBLIC_ISSUER_URI=https://default-url.com/auth/realms/default-realm
EXPO_PUBLIC_CLIENT_ID=default_client_id